.DashboardItem {
  box-sizing: border-box;
  border: 1px solid #ccc;
  /* width: calc(33% - 10px); */
  width: 150px;
  margin: 0 5px 10px;
  padding: 10px 20px;
  position: relative;
}

.DashboardItem__close {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  color: #999;
  outline: none;
}
.DashboardItem__close:hover {
  color: #000;
}

.DashboardItem__weather {
  display: flex;
  align-items: center;
}

.DashboardItem__description {
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
}